<ion-view view-title="Sleep Direction Analysis">
  <ion-content padding="true" style="background-color:Chartreuse"  ng-controller="gyroCtrl">
  
        
		<center>
		<h3>This feature determines the angular velocity of the sensor moment</h3>
		
		
		</center>
       
		    
			<div class="list">
                <label class="item item-input">
                    <span class="input-label">Frequency</span>
                    <input type="text" placeholder="0" ng-model="options.frequency">
                </label>
            </div>
            <button class="button button-full button-positive" ng-click="startWatching()">
                Start Measurement
            </button>
            <button class="button button-full button-positive" ng-click="stopWatching()">
                Stop Measurement
            </button>
			<center>
            <h2>X: {{measurements.x |number:2}}</h2>
            <h2>Y: {{measurements.y |number:2}}</h2>
            <h2>Z: {{measurements.z| number:2}}</h2>
			<h2>Magnitude:{{newmagnitude}}</h2>
			</center>
			<center>
        </ion-content>
  
	
</ion-view>
