 <ion-view title="Instagram Images">
 
      <ion-content ng-controller="instagramimagesCtrl">
        <div class="list card" data-ng-repeat="image in imageList" >

          

          <div class="item item-image">
            <img data-ng-src="{{image.images.standard_resolution.url}}">
			 </div>
			
			
			
          
		    <div class="item tabs tabs-energy tabs-icon-left">
			<strong>
			
	            <p data-ng-bind-html= "image.caption.text"></p>  
</strong>	
 <a class="tab-item"  ng-click="likeCount()">
          <i class="icon ion-thumbsup "></i>
		  
		 
          
		 
		  </a>	
		  <a class="tab-item"  ng-click="notlikeCount()">
          <i class="icon ion-thumbsdown "></i>
		  
		 
         
		 
		  </a>	
			  
        <a class="tab-item"  ng-click="shareAnywhere(instagramimage, null)">
          <i class="icon ion-ios-upload-outline"></i>
		  <strong>
          Share
		  </strong>
		  </a>
		 
		       

        </div>
      </ion-content>
    </ion-view>