<ion-view view-title="Medical Information">
  <ion-content padding="true">

 
<center>
    <h2 style="color:green;">Medical Data</h2>
	<hr>
	
</center>
    <form>
    
        
        <div>
        <!-- RADIO BUTTONS -->
        <label> Whatis the Vitamin-D content(25-OH) ng/ml? <input type="number" name="vitddef" value="" placeholder="enter number" ng-model="formData.VitaminD">
       
                
                   
                 </label>
            
			</div>
			 <div>
        <!-- RADIO BUTTONS -->
        <label>What is the Vitamin-B content ng/ml? <input type="number" name="vitbef" value="" ng-model="formData.VitaminB12" placeholder="enter number" >
       
                
                   
                </label>
            
			</div>
			 
			 <div>
        <!-- RADIO BUTTONS -->
        <label>Whatis the Lipoprotien content ng/ml? <input type="number" name="vitbef" value="" ng-model="formData.Lipoprotien" placeholder="enter number" >
       
                
                   
                </label>
            
			</div>
			 <div>
        <!-- RADIO BUTTONS -->
        <label>What is the Cholesterol content mg/dl? <input type="number" name="choletstinsuff"  value="" ng-model="formData.Cholesterol" placeholder="enter number" >
       
                
                   
                </label>
            
			</div>
			<div>
        <!-- RADIO BUTTONS -->
        <label>What is the Calcium content in mg/dl? <input type="number" name="calcinsuff"  value=""  ng-model="formData.Calcium" placeholder="enter number in " >
       
                
                   
                </label>
            
			</div>
			<div>
        <!-- RADIO BUTTONS -->
        <label>What is the Sodium content in mg/dl? <input type="number" name="sodinsuff"  value=""  ng-model="formData.Sodium" placeholder="enter number in " >
       
                
                   
                </label>
            
			</div>
			<div>
			<label>What is the Creatinine content in mg/dl? <input type="number" name="creatininsuff"  value=""  ng-model="formData.Creatinine" placeholder="enter number in " >
       
                
                   
                </label>
            
			</div>
				<div>
			<label>What is the Iron content in mug/dl? <input type="number" name="ironininsuff"  value=""  ng-model="formData.Iron" placeholder="enter number " >
       
                
                   
                </label>
            
			</div>
			<div>
			<label>What is the Folate content in ng/dl? <input type="number" name="folateininsuff"  value=""  ng-model="formData.Folate" placeholder="enter number " >
       
                
                   
                </label>
            
			</div>
			<div>
			<label>What is the Homocysteine content in mumol/L? <input type="number" name="homoininsuff"  value=""  ng-model="formData.Homocysteine" placeholder="enter number " >
       
                
                   
                </label>
            
			</div>
			<div>
			<label>What is the Apolipoprotien content in mumol/L? <input type="number" name="apoininsuff"  value=""  ng-model="formData.APO" placeholder="enter number " >
       
                
                   
                </label>
            
			</div>
            
			 
			</div>
			<div>
			<label>What is the Amylase ratio ? <input type="number" name="amylaseinsuff"  value=""  ng-model="formData.Amylase" placeholder="enter number " >
       
                
                   
                </label>
            
			</div>
		
			<div>
			<label>What is the Leucocytes count ? <input type="number" name="leucoinsuff"  value=""  ng-model="formData.Leucocytes" placeholder="enter number " >
       
                
                   
                </label>
            
			</div>			  
			  <div>
			<label>What is the RBC count ? <input type="number" name="rbcinsuff"  value=""  ng-model="formData.RBC" placeholder="enter number " >
       
                
                   
                </label>
            
			</div>
			
			  <div>
			<label>What is the Arsenic content mug/l ? <input type="number" name="arsenicinsuff"  value=""  ng-model="formData.Arsenic" placeholder="enter number " >
       
                
                   
                </label>
            
			</div>
			<div>
			<label>What is the Cadmium content mug/l ? <input type="number" name="cadinsuff"  value=""  ng-model="formData.Cadmium" placeholder="enter number " >
       
                
                   
                </label>
            
			</div>
			
			 <div>
			<label>What is the Lead content mug/l ? <input type="number" name="leadinsuff"  value=""  ng-model="formData.Lead" placeholder="enter number " >
       
                
                   
                </label>
            
			</div>
			
			 
			
			 
			
			 
			 
			
			 
			 
			
			 
			
       
		
        
        <button type="submit" class="button button-block button-assertive"  ng-click="addMessage()">Submit</button>
		<br>
		 <a  href="#/app/medicalchart" class="button button-full button-positive">Go To Chart</a>
		  
        
    </form>
    
    
    
       
</ion-content>
</ion-view>